<div style="height: 100%; position: relative; text-align: center; font-family: Arial; border: 1px solid black;">
  <div style="margin-top: 3mm; margin-bottom: 1mm; font-size: 14pt;"><b>{{ name }}</b></div>
  <div style="margin-bottom: 3mm; font-size: 9pt;"><b>{{ hero }}</b></div>
  <div style="border-top: 1px solid black; border-bottom: 1px solid black; background-color: {{color}}; padding: 1.5mm; font-size: 9pt;"><i>Ability</i></div>
  <div style="margin: 5mm; font-size: 8pt;">{{ text }}</div>
  <div style="position: absolute; bottom: 2mm; width: 100%; font-size: 6pt; color: #9999a5;">{{ card_index }} / {{ cards_total }} ({{ version }})</div>
</div>
